.site-header {
    background-color: #11ecec;
    color: #e1e8ec;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    max-height: 200px;
    max-width: 200px;
    box-shadow: #0c0919 2px 5px 5px;
}

body {
    margin: 0;
}